h1{
    text-align: center;
}

header{
    margin-bottom: 1%;
}

body{   
    background-color: rgb(242, 248, 250);   
}

main{
    margin-left: 0.8%;
}

thead{
    text-align: center;
}

.encabezado1Tabla{
    width: 11.5%;
}

.navFont{
    font-size: x-large;
}

footer{
    padding-left: 0.7%;
    color: white;
}

video{
    margin: 0 auto;
    display: block;
    padding-bottom: 1%;
}

div img{ 
    padding-top: 1%;
    padding-bottom: 1%;
}

tr td:first-child{
    text-align: center;
}

#Etapas img{
    padding-bottom: 0.5%;
    width: 2.5%;
}

#Ejemplos{
    padding-bottom: 1%;
}

#Beneficios table{
    width:65%;
}




